.clear{
    clear: both;
}

#wpg-form-wrap .notice,
#wpg-dashboard-wrap .notice{
    display: inline-block;
    line-height: 1.4;
    padding: 11px 15px;
    font-size: 14px;
    margin: 0 20px 0 2px; 
}

#wpg_api_key_cell{
    background-image: none;
}

#wpg_api_key_cell.verified{
    background-image: url("../images/thumbs-up.svg");
    background-repeat: no-repeat;
    background-position-x: 370px;
    background-position-y: 18px;
}

#wpg-dash-summary-wrap{
    margin: 10px 20px 10px 0px;
}

#wpg-dash-summary-wrap li{
    width: 50%;
    float: left;
    margin-bottom: 10px;
}

#wpg-cve-show-hidden,
td.ip_address{
    white-space: nowrap;
}
